<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ cadastro }}</ion-title>
  </ion-toolbar>
</ion-header> -->

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ cadastro }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <div padding-horizontal text-center class="animated fadeInDown">
      <h4 ion-text class="ion-text-center Exo2" >
        <strong> Cadastro </strong>
      </h4>
      <ion-img src="assets/imgs/cadastro.png" style="height:300px;" ></ion-img>
    
    </div>
    
    <div>
      <form>
        <ion-item>
          <ion-label floating >
            <ion-icon name="person-outline"></ion-icon>
            Nome
          </ion-label>
          <ion-input name="nome" [(ngModel)]="nome" type="email"></ion-input>
        </ion-item>
        <ion-item >
          <ion-label floating >
            <ion-icon  name="mail" item-start class="text-primary"></ion-icon>
            Email
          </ion-label>
          <ion-input name="email" [(ngModel)]="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            <ion-icon name="lock-closed-outline" item-start class="text-primary"></ion-icon>
            Senha
          </ion-label>
          <ion-input name="password" [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            <ion-icon name="lock-closed-outline" item-start class="text-primary"></ion-icon>
            Confirmar Senha
          </ion-label>
          <ion-input name="secpassword" [(ngModel)]="secpassword" type="password"></ion-input>
        </ion-item>
<div style="margin: auto; text-align: center;">
        <h6>Preferências alimentares</h6>
      <p>
        <ion-chip outline color="primary">
          <ion-icon name="pizza-outline"></ion-icon>
          <ion-label>Massas</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
        <ion-chip outline color="primary">
          <ion-icon name="fast-food-outline" ></ion-icon>
          <ion-label>Fast food</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
        <ion-chip outline color="primary">
          <ion-icon name="leaf-outline"></ion-icon>
          <ion-label>Vegano</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
      </p>
    </div>
      </form>
    </div>
  </ion-content>
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="clear" style="color:#FECE2F;" (click)="Cadastrar()">
        Cadastrar
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
